body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 10px;
}

.header {
    margin: 25px 0;
}

.header h1 {
    text-align: center;
}

.search_box {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.search_box input {
    width: 60%;
    font-size: 16px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
}

.submit-btn {
    text-align: right;
    margin: 20px;
}

.submit-btn button {
    padding: 10px;
    background-color: rgb(8, 168, 8);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: rgb(12, 92, 12);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.item {
    width: 220px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.item:hover {
    transform: scale(1.05);
}

.item button {
    background-color: rgb(0, 131, 0);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 6px;
    font-size: 15px;
    width: 75px;
    font-weight: bold;
}

.item button:hover {
    background-color: rgb(0, 99, 0);
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.qty-btn {
    padding: 4px 10px;
    font-size: 18px;
    cursor: pointer;
}

.qty {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}

.add-btn input[type="checkbox"] {
  display: none;
}

.add-btn {
  display: inline-block;
  margin: 6px;
  cursor: pointer;
}

.add-btn span {
  display: inline-block;
  padding: 10px 16px;
  background: #eee;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: 0.25s ease;
  font-size: 14px;
  font-weight: bold;
}

.add-btn:hover span {
  background: #f7f7f7;
  border-color: #aaa;
}

.add-btn input[type="checkbox"]:checked + span {
  background: #4CAF50;
  color: white;
  border-color: #3b8b40;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}